/* CSS files add styling rules to your content */

body {
  font-family: Ubuntu;
  height: 200%;
  width: 200%;
  background: linear-gradient(to left, #00b2e1, #4fdaff);
}

h1 {
  font-style: italic;
  Color: pink
}

h2 {
  font-style: italic;
  Color: green
}

h3 {
  font-style: italic;
  Color: Black
}

#mainWrapper {
  padding: 100px 20px;
}

#startMenu {
  position: relative;
  margin: 0 auto;
  max-width: 1150px;
  max-height: 390px;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #DDE6EB;
  background-image: url(media.discordapp.net/attachments/711385424144236597/722597417442213928/screenshot_AVATAR.png);
  box-sizing: border-box;
}
